/* Variables */
:root{
    /* Color palettes */
    /* General */
    --font: "robotic", "Inter", Verdana, Geneva, Tahoma, sans-serif;

    /* Header */
    --header-link-text-size: 18px;
    --header-link-text-color: #E5E7EB;
    --header-logo-text-size: 24px;
    --header-logo-text-color: #F9FAF8;
    --header-logo-text-weight: 800;
    --header-bgc: #1F2937;
    /* Main */
    /** Hero **/
    --hero-bgc: #1F2937;
    --hero-main-text-size: 48px; 
    --hero-main-text-weight: 800; /* Extra bold*/
    --hero-main-text-color: #F9FAF8;
    --hero-sec-text-size: 18px ;
    --hero-sec-text-color: #E5E7EB;
    --hero-button-color: #3882F6;
    /** Info **/
    --info-button-col: #3882F6;
    --info-header-text-size: 36px;
    --info-header-text-weight: extra-bold;
    --info-header-text-color: #1F2937;
    /** Quote **/
    --quote-bgc: #E5E7EB;
    --quote-text-size: 1.5rem; /* Change from 36px to 1.5rem */
    --quote-text-weight: light;
    --quote-text-style: italic;
    --quote-text-color: #1F2937;
    /** Call to action **/
    --cta-bgc: #3882F6;
    --cta-text-color: #F9FAF8;
    --cta-text-size: 14px;
    /* Footer */
    --footer-bgc: #1F2937;
    --footer-text-color: #F9FAF8;
}

/* General */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
    font-family: var(--font);
}

/* Header */
header {
    background-color: var(--header-bgc);
    padding: 30px;
    /*border: 1px solid white;*/
}



nav ul {
    display : flex;
    list-style-type: none;
    gap: 10px;
    padding: 0;
    margin: 0;
}

nav ul li:first-child {
    margin-right: auto;
}

nav a {
    font-size: var(--header-link-text-size);
    color: var(--header-link-text-color);
    text-decoration: none;
}

nav .header-logo {
    font-size: var(--header-logo-text-size);
    color: var(--header-logo-text-color);
    font-weight: var(--header-logo-text-weight);
}

nav li:hover{
    opacity: 0.9;
}

/* Main */
main > * > * {
    max-width: 1140px;
    margin: 0 auto;
}

/** Hero **/
section.hero{
    background-color: var(--hero-bgc);
}

.hero-container {
    display: flex;
    flex-flow: row wrap;
    /*border: 1px solid pink;*/
    justify-content: center;
    gap: 20px;
    min-height: 500px;
}

.hero-container .hero-text{
    /*border: 1px solid #fff;*/
    padding: 10px;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 25px;
    width: clamp(300px, 60%, 600px);
}

.hero-container p{
    line-height: 1.5;
}

.hero-container .hero-text button{
    align-self: flex-start;
    padding: 10px 35px;
}

.hero-container .hero-image{
    /*border: 1px solid #fff;*/
    width: clamp(300px, 35%, 500px);
}

.hero-container .hero-text h1{
    font-size: var(--hero-main-text-size);
    color: var(--hero-main-text-color);
    font-weight: var(--hero-main-text-weight);
}

.hero-container .hero-text p{
    font-size: var(--hero-sec-text-size);
    color: var(--hero-sec-text-color);
}

.hero-container button{
    color: var(--header-link-text-color);
    background-color: var(--hero-button-color);
    border: none;
    border-radius: 7px;;
}

.hero-container button:hover{
    opacity: .8;
}


.hero-container img{
    height: auto;
    width: 100%;
}

/** Info **/
.info-container {
    /*border: 5px solid #000;*/
    padding: 5%;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

.info-container h3{
    font-size: var(--info-header-text-size);
    font-weight: var(--info-header-text-weight);
    color: var(--info-header-text-color);
    text-align: center;
}

.info-container .info-card-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 15px;
}

.info-container .info-card{
    display: flex;
    gap: 15px;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 200px;
    flex: 1 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 5px;
}

.info-container .info-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.info-container .info-card-image{
    --color: #3882F6;
    --weight: 800;
    --size: 30px;
    width: 150px;
    height: 150px;
    border: 3px solid var(--color);
    border-radius: 9px;

    flex-shrink: 0;
    color: var(--color);
    font-weight: var(--weight);
    font-size: var(--size);


    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container .info-card p{
    text-align: center;
}

/* Quote */
section.quote {
    background-color: var(--quote-bgc);
    padding: 5% 0;
    line-height: 1.25;
}

.quote-container {
    /*border: 5px solid #000;*/
    padding: 10px;
}

.quote-container q{
    font-size: var(--quote-text-size);
    color: var(--quote-text-color);
    font-weight: var(--quote-text-weight);
    font-style: var(--quote-text-style);
}

.quote-container p{
    margin-top: 10px;
   text-align: right;
    font-size: 24px;
    font-weight: 700;
}

/** Call to action **/
section.cta{
    padding: 5% 0;
}

.cta-container {
    background-color: var(--cta-bgc);
    color: var(--cta-text-color);

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 30px;
    gap: 20px;
}

.cta-container .cta-button{
    flex-shrink: 0;
    margin-left: auto;
    margin-right: 2%;
}

.cta-container .cta-button button{
    padding: 15px 30px;
    color: var(--cta-text-color);
    border: 3px solid var(--cta-text-color);
    font-size: var(--cta-text-size);
    border-radius: 7px;
    background-color:  transparent;
}

.cta-container button:hover{
    opacity: .8;
}

/* Footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--footer-bgc);
    color: var(--footer-text-color);

    padding: 30px;
}